[program:distbench_test_sequencer]
environment=GLOG_alsologtostderr=1,GLOG_stderrthreshold=0
command=/bin/distbench test_sequencer --use_ipv4_first
directory=/home
autostart=true
autorestart=true
startretries=3
stderr_logfile=/var/log/distbench/test_sequencer.err.log
stdout_logfile=/var/log/distbench/test_sequencer.out.log
user=root
