[program:distbench_node_manager]
command=/bin/distbench node_manager --test_sequencer={{ groups['distbench_test_sequencer'][0] }}:10000 --port=9999 --use_ipv4_first
directory=/home
autostart=true
autorestart=true
startretries=3
stderr_logfile=/var/log/distbench/node_manager.err.log
stdout_logfile=/var/log/distbench/node_manager.out.log
user=root
