# produced by ./../test_builder -o . client_server:parallel_queries=25 
tests {
  attributes: { key: 'client_count' value: '1' }
  attributes: { key: 'client_type' value: 'completion_queue' }
  attributes: { key: 'config_label' value: 'client_server:parallel_queries=25' }
  attributes: { key: 'parallel_queries' value: '25' }
  attributes: { key: 'protocol_alias' value: 'grpc_completion_queue_normal' }
  attributes: { key: 'protocol_driver' value: 'grpc' }
  attributes: { key: 'server_count' value: '1' }
  attributes: { key: 'server_type' value: 'normal' }
  attributes: { key: 'test_duration' value: '30' }
  attributes: { key: 'test_name' value: 'client_server_1x1x25-grpc_completion_queue_normal' }
  attributes: { key: 'test_timeout' value: '90' }
  attributes: { key: 'traffic_alias' value: 'client_server_1x1x25' }
  attributes: { key: 'traffic_pattern' value: 'client_server' }
  default_protocol: 'grpc'
  protocol_driver_options {
    name: 'common_options'
    server_settings {
      name: 'server_type'
      string_value: 'normal'
    }
    client_settings {
      name: 'client_type'
      string_value: 'completion_queue'
    }
  }
  name: 'client_server_1x1x25-grpc_completion_queue_normal'
  services {
    name: 'client'
    count: 1
    protocol_driver_options_name: 'common_options'
  }
  services {
    name: 'server'
    count: 1
    protocol_driver_options_name: 'common_options'
  }
  rpc_descriptions {
    name: 'client_server_rpc'
    client: 'client'
    server: 'server'
    request_payload_name: 'request_payload'
    response_payload_name: 'response_payload'
  }
  payload_descriptions {
    name: 'request_payload'
    size: 196
  }
  payload_descriptions {
    name: 'response_payload'
    size: 262144
  }
  action_lists {
    name: 'client'
    action_names: 'run_queries'
  }
  actions {
    name: 'run_queries'
    rpc_name: 'client_server_rpc'
    iterations {
      max_duration_us: 30000000
      max_parallel_iterations: 25
    }
  }
  action_lists {
    name: 'client_server_rpc'
    # No action on the server; just send the response
  }
}
