# produced by ./../test_builder -o . clique:ipv4
tests {
  attributes: { key: 'client_type' value: 'polling' }
  attributes: { key: 'config_label' value: 'clique:ipv4' }
  attributes: { key: 'ip_version' value: '4' }
  attributes: { key: 'ip_version_string' value: 'ipv4' }
  attributes: { key: 'node_count' value: '10' }
  attributes: { key: 'protocol_alias' value: 'grpc_polling_inline_ipv4' }
  attributes: { key: 'protocol_driver' value: 'grpc' }
  attributes: { key: 'request_size' value: '1024' }
  attributes: { key: 'response_size' value: '1024' }
  attributes: { key: 'rpc_interval_us' value: '16000' }
  attributes: { key: 'server_type' value: 'inline' }
  attributes: { key: 'synchronization_mode' value: 'sync_burst' }
  attributes: { key: 'test_duration' value: '30' }
  attributes: { key: 'test_name' value: 'clique_sync_burst_10x16000x1024x1024-grpc_polling_inline_ipv4' }
  attributes: { key: 'test_timeout' value: '150' }
  attributes: { key: 'threadpool_size' value: '0' }
  attributes: { key: 'traffic_alias' value: 'clique_sync_burst_10x16000x1024x1024' }
  attributes: { key: 'traffic_pattern' value: 'clique' }
  protocol_driver_options {
    name: 'default_protocol_driver_options'
    protocol_name: 'grpc'
    server_settings {
      name: 'server_type'
      string_value: 'inline'
    }
    client_settings {
      name: 'client_type'
      string_value: 'polling'
    }
    ip_version: 4
  }
  name: 'clique_sync_burst_10x16000x1024x1024-grpc_polling_inline_ipv4'
  services {
    name: 'clique'
    count: 10
  }
  action_lists {
    name: 'clique'
    action_names: 'clique_queries'
  }
  actions {
    name: 'clique_queries'
    iterations {
      max_duration_us: 30000000
      open_loop_interval_ns: 16000000
      open_loop_interval_distribution: 'sync_burst'
      warmup_iterations: 187
    }
    rpc_name: 'clique_query'
  }
  payload_descriptions {
    name: 'request_payload'
    size: 1024
  }
  payload_descriptions {
    name: 'response_payload'
    size: 1024
  }
  rpc_descriptions {
    name: 'clique_query'
    client: 'clique'
    server: 'clique'
    fanout_filter: 'all'
    request_payload_name: 'request_payload'
    response_payload_name: 'response_payload'
  }
  action_lists {
    name: 'clique_query'
    # no actions, NOP
  }
}
