# produced by test_builder -o . homa_cp_node:min_bucket_frac=0.1
tests {
  attributes: { key: 'client_type' value: 'polling' }
  attributes: { key: 'config_label' value: 'homa_cp_node:min_bucket_frac=0.1' }
  attributes: { key: 'gbps' value: '1' }
  attributes: { key: 'max_message_length' value: '1000000' }
  attributes: { key: 'max_size_ratio' value: '1.2' }
  attributes: { key: 'min_bucket_frac' value: '0.1' }
  attributes: { key: 'node_count' value: '10' }
  attributes: { key: 'protocol_alias' value: 'grpc_polling_inline' }
  attributes: { key: 'protocol_driver' value: 'grpc' }
  attributes: { key: 'server_type' value: 'inline' }
  attributes: { key: 'synchronization_mode' value: 'exponential' }
  attributes: { key: 'test_duration' value: '30' }
  attributes: { key: 'test_name' value: 'homa_cp_node_exponential_10x1xw5x1000000x0.1x1.2-grpc_polling_inline' }
  attributes: { key: 'test_timeout' value: '150' }
  attributes: { key: 'threadpool_size' value: '0' }
  attributes: { key: 'traffic_alias' value: 'homa_cp_node_exponential_10x1xw5x1000000x0.1x1.2' }
  attributes: { key: 'traffic_pattern' value: 'homa_cp_node' }
  attributes: { key: 'workload' value: 'w5' }
  protocol_driver_options {
    name: 'default_protocol_driver_options'
    protocol_name: 'grpc'
    server_settings {
      name: 'server_type'
      string_value: 'inline'
    }
    client_settings {
      name: 'client_type'
      string_value: 'polling'
    }
  }
  name: 'homa_cp_node_exponential_10x1xw5x1000000x0.1x1.2-grpc_polling_inline'
  services {
    name: 'clique'
    count: 10
  }
  action_lists {
    name: 'clique'
    action_names: 'clique_queries'
  }
  actions {
    name: 'clique_queries'
    iterations {
      max_duration_us: 30000000
      open_loop_interval_ns: 6263166
      open_loop_interval_distribution: 'exponential'
      warmup_iterations: 1500
    }
    rpc_name: 'clique_query'
  }
  rpc_descriptions {
    name: 'clique_query'
    client: 'clique'
    server: 'clique'
    fanout_filter: 'random'
    distribution_config_name: 'dist_config'
  }
  action_lists {
    name: 'clique_query'
    # no actions, NOP
  }
  overload_limits {
    max_pending_rpcs: 5000
  }
  distribution_config{
    name: 'dist_config'
    field_names: 'payload_size'
    cdf_points { value: 1430, cdf: 0.0250000000000000014 }
    cdf_points { value: 2860, cdf: 0.0500000000000000028 }
    cdf_points { value: 4290, cdf: 0.0749999999999999972 }
    cdf_points { value: 5720, cdf: 0.1000000000000000056 }
    cdf_points { value: 7150, cdf: 0.1250000000000000000 }
    cdf_points { value: 8580, cdf: 0.1499999999999999944 }
    cdf_points { value: 10010, cdf: 0.1571430000000000049 }
    cdf_points { value: 11440, cdf: 0.1642859999999999876 }
    cdf_points { value: 13230, cdf: 0.1714289999999999980 }
    cdf_points { value: 14700, cdf: 0.1785710000000000075 }
    cdf_points { value: 17640, cdf: 0.1928570000000000007 }
    cdf_points { value: 20580, cdf: 0.2166669999999999985 }
    cdf_points { value: 23520, cdf: 0.2500000000000000000 }
    cdf_points { value: 27930, cdf: 0.2999999999999999889 }
    cdf_points { value: 32340, cdf: 0.3214290000000000203 }
    cdf_points { value: 38220, cdf: 0.3499999999999999778 }
    cdf_points { value: 45570, cdf: 0.3857140000000000013 }
    cdf_points { value: 54390, cdf: 0.4259999999999999898 }
    cdf_points { value: 64680, cdf: 0.4714999999999999747 }
    cdf_points { value: 76440, cdf: 0.5234999999999999654 }
    cdf_points { value: 91140, cdf: 0.5378749999999999920 }
    cdf_points { value: 108780, cdf: 0.5483749999999999458 }
    cdf_points { value: 129360, cdf: 0.5606250000000000400 }
    cdf_points { value: 154350, cdf: 0.5755000000000000115 }
    cdf_points { value: 185220, cdf: 0.5938750000000000417 }
    cdf_points { value: 221970, cdf: 0.6033709999999999907 }
    cdf_points { value: 266070, cdf: 0.6089890000000000025 }
    cdf_points { value: 318990, cdf: 0.6157299999999999995 }
    cdf_points { value: 373380, cdf: 0.6226589999999999625 }
    cdf_points { value: 432180, cdf: 0.6301499999999999879 }
    cdf_points { value: 510090, cdf: 0.6400749999999999496 }
    cdf_points { value: 608580, cdf: 0.6526220000000000354 }
    cdf_points { value: 726180, cdf: 0.6676029999999999465 }
    cdf_points { value: 862890, cdf: 0.6850190000000000445 }
    cdf_points { value: 1000000, cdf: 1.0000000000000000000 }
  }
}
