# produced by ./../test_builder -o - parameter_sweep rpc_interval_us 4000 1000 8000 -c clique -l LabelFoo- node_count=2 node_count=3 node_count=4 
tests {
  attributes: { key: 'client_type' value: 'polling' }
  attributes: { key: 'config_label' value: 'LabelFoo-node_count=2' }
  attributes: { key: 'node_count' value: '2' }
  attributes: { key: 'protocol_alias' value: 'grpc_polling_inline' }
  attributes: { key: 'protocol_driver' value: 'grpc' }
  attributes: { key: 'rpc_interval_us' value: '4000' }
  attributes: { key: 'server_type' value: 'inline' }
  attributes: { key: 'swept_parameter' value: 'rpc_interval_us' }
  attributes: { key: 'synchronization_mode' value: 'sync_burst' }
  attributes: { key: 'test_duration' value: '30' }
  attributes: { key: 'test_name' value: 'clique_sync_burst_2x4000-grpc_polling_inline' }
  attributes: { key: 'test_timeout' value: '90' }
  attributes: { key: 'traffic_alias' value: 'clique_sync_burst_2x4000' }
  attributes: { key: 'traffic_pattern' value: 'clique' }
  default_protocol: 'grpc'
  protocol_driver_options {
    name: 'common_options'
    server_settings {
      name: 'server_type'
      string_value: 'inline'
    }
    client_settings {
      name: 'client_type'
      string_value: 'polling'
    }
  }
  name: 'clique_sync_burst_2x4000-grpc_polling_inline'
  services {
    name: 'clique'
    count: 2
    protocol_driver_options_name: 'common_options'
  }
  action_lists {
    name: 'clique'
    action_names: 'clique_queries'
  }
  actions {
    name: 'clique_queries'
    iterations {
      max_duration_us: 30000000
      open_loop_interval_ns: 4000000
      open_loop_interval_distribution: 'sync_burst'
      warmup_iterations: 750
    }
    rpc_name: 'clique_query'
  }
  payload_descriptions {
    name: 'request_payload'
    size: 1024
  }
  payload_descriptions {
    name: 'response_payload'
    size: 1024
  }
  rpc_descriptions {
    name: 'clique_query'
    client: 'clique'
    server: 'clique'
    fanout_filter: 'all'
    request_payload_name: 'request_payload'
    response_payload_name: 'response_payload'
  }
  action_lists {
    name: 'clique_query'
    # no actions, NOP
  }
}
tests {
  attributes: { key: 'client_type' value: 'polling' }
  attributes: { key: 'config_label' value: 'LabelFoo-node_count=3' }
  attributes: { key: 'node_count' value: '3' }
  attributes: { key: 'protocol_alias' value: 'grpc_polling_inline' }
  attributes: { key: 'protocol_driver' value: 'grpc' }
  attributes: { key: 'rpc_interval_us' value: '4000' }
  attributes: { key: 'server_type' value: 'inline' }
  attributes: { key: 'swept_parameter' value: 'rpc_interval_us' }
  attributes: { key: 'synchronization_mode' value: 'sync_burst' }
  attributes: { key: 'test_duration' value: '30' }
  attributes: { key: 'test_name' value: 'clique_sync_burst_3x4000-grpc_polling_inline' }
  attributes: { key: 'test_timeout' value: '90' }
  attributes: { key: 'traffic_alias' value: 'clique_sync_burst_3x4000' }
  attributes: { key: 'traffic_pattern' value: 'clique' }
  default_protocol: 'grpc'
  protocol_driver_options {
    name: 'common_options'
    server_settings {
      name: 'server_type'
      string_value: 'inline'
    }
    client_settings {
      name: 'client_type'
      string_value: 'polling'
    }
  }
  name: 'clique_sync_burst_3x4000-grpc_polling_inline'
  services {
    name: 'clique'
    count: 3
    protocol_driver_options_name: 'common_options'
  }
  action_lists {
    name: 'clique'
    action_names: 'clique_queries'
  }
  actions {
    name: 'clique_queries'
    iterations {
      max_duration_us: 30000000
      open_loop_interval_ns: 4000000
      open_loop_interval_distribution: 'sync_burst'
      warmup_iterations: 750
    }
    rpc_name: 'clique_query'
  }
  payload_descriptions {
    name: 'request_payload'
    size: 1024
  }
  payload_descriptions {
    name: 'response_payload'
    size: 1024
  }
  rpc_descriptions {
    name: 'clique_query'
    client: 'clique'
    server: 'clique'
    fanout_filter: 'all'
    request_payload_name: 'request_payload'
    response_payload_name: 'response_payload'
  }
  action_lists {
    name: 'clique_query'
    # no actions, NOP
  }
}
tests {
  attributes: { key: 'client_type' value: 'polling' }
  attributes: { key: 'config_label' value: 'LabelFoo-node_count=4' }
  attributes: { key: 'node_count' value: '4' }
  attributes: { key: 'protocol_alias' value: 'grpc_polling_inline' }
  attributes: { key: 'protocol_driver' value: 'grpc' }
  attributes: { key: 'rpc_interval_us' value: '4000' }
  attributes: { key: 'server_type' value: 'inline' }
  attributes: { key: 'swept_parameter' value: 'rpc_interval_us' }
  attributes: { key: 'synchronization_mode' value: 'sync_burst' }
  attributes: { key: 'test_duration' value: '30' }
  attributes: { key: 'test_name' value: 'clique_sync_burst_4x4000-grpc_polling_inline' }
  attributes: { key: 'test_timeout' value: '90' }
  attributes: { key: 'traffic_alias' value: 'clique_sync_burst_4x4000' }
  attributes: { key: 'traffic_pattern' value: 'clique' }
  default_protocol: 'grpc'
  protocol_driver_options {
    name: 'common_options'
    server_settings {
      name: 'server_type'
      string_value: 'inline'
    }
    client_settings {
      name: 'client_type'
      string_value: 'polling'
    }
  }
  name: 'clique_sync_burst_4x4000-grpc_polling_inline'
  services {
    name: 'clique'
    count: 4
    protocol_driver_options_name: 'common_options'
  }
  action_lists {
    name: 'clique'
    action_names: 'clique_queries'
  }
  actions {
    name: 'clique_queries'
    iterations {
      max_duration_us: 30000000
      open_loop_interval_ns: 4000000
      open_loop_interval_distribution: 'sync_burst'
      warmup_iterations: 750
    }
    rpc_name: 'clique_query'
  }
  payload_descriptions {
    name: 'request_payload'
    size: 1024
  }
  payload_descriptions {
    name: 'response_payload'
    size: 1024
  }
  rpc_descriptions {
    name: 'clique_query'
    client: 'clique'
    server: 'clique'
    fanout_filter: 'all'
    request_payload_name: 'request_payload'
    response_payload_name: 'response_payload'
  }
  action_lists {
    name: 'clique_query'
    # no actions, NOP
  }
}
tests {
  attributes: { key: 'client_type' value: 'polling' }
  attributes: { key: 'config_label' value: 'LabelFoo-node_count=2' }
  attributes: { key: 'node_count' value: '2' }
  attributes: { key: 'protocol_alias' value: 'grpc_polling_inline' }
  attributes: { key: 'protocol_driver' value: 'grpc' }
  attributes: { key: 'rpc_interval_us' value: '5000' }
  attributes: { key: 'server_type' value: 'inline' }
  attributes: { key: 'swept_parameter' value: 'rpc_interval_us' }
  attributes: { key: 'synchronization_mode' value: 'sync_burst' }
  attributes: { key: 'test_duration' value: '30' }
  attributes: { key: 'test_name' value: 'clique_sync_burst_2x5000-grpc_polling_inline' }
  attributes: { key: 'test_timeout' value: '90' }
  attributes: { key: 'traffic_alias' value: 'clique_sync_burst_2x5000' }
  attributes: { key: 'traffic_pattern' value: 'clique' }
  default_protocol: 'grpc'
  protocol_driver_options {
    name: 'common_options'
    server_settings {
      name: 'server_type'
      string_value: 'inline'
    }
    client_settings {
      name: 'client_type'
      string_value: 'polling'
    }
  }
  name: 'clique_sync_burst_2x5000-grpc_polling_inline'
  services {
    name: 'clique'
    count: 2
    protocol_driver_options_name: 'common_options'
  }
  action_lists {
    name: 'clique'
    action_names: 'clique_queries'
  }
  actions {
    name: 'clique_queries'
    iterations {
      max_duration_us: 30000000
      open_loop_interval_ns: 5000000
      open_loop_interval_distribution: 'sync_burst'
      warmup_iterations: 600
    }
    rpc_name: 'clique_query'
  }
  payload_descriptions {
    name: 'request_payload'
    size: 1024
  }
  payload_descriptions {
    name: 'response_payload'
    size: 1024
  }
  rpc_descriptions {
    name: 'clique_query'
    client: 'clique'
    server: 'clique'
    fanout_filter: 'all'
    request_payload_name: 'request_payload'
    response_payload_name: 'response_payload'
  }
  action_lists {
    name: 'clique_query'
    # no actions, NOP
  }
}
tests {
  attributes: { key: 'client_type' value: 'polling' }
  attributes: { key: 'config_label' value: 'LabelFoo-node_count=3' }
  attributes: { key: 'node_count' value: '3' }
  attributes: { key: 'protocol_alias' value: 'grpc_polling_inline' }
  attributes: { key: 'protocol_driver' value: 'grpc' }
  attributes: { key: 'rpc_interval_us' value: '5000' }
  attributes: { key: 'server_type' value: 'inline' }
  attributes: { key: 'swept_parameter' value: 'rpc_interval_us' }
  attributes: { key: 'synchronization_mode' value: 'sync_burst' }
  attributes: { key: 'test_duration' value: '30' }
  attributes: { key: 'test_name' value: 'clique_sync_burst_3x5000-grpc_polling_inline' }
  attributes: { key: 'test_timeout' value: '90' }
  attributes: { key: 'traffic_alias' value: 'clique_sync_burst_3x5000' }
  attributes: { key: 'traffic_pattern' value: 'clique' }
  default_protocol: 'grpc'
  protocol_driver_options {
    name: 'common_options'
    server_settings {
      name: 'server_type'
      string_value: 'inline'
    }
    client_settings {
      name: 'client_type'
      string_value: 'polling'
    }
  }
  name: 'clique_sync_burst_3x5000-grpc_polling_inline'
  services {
    name: 'clique'
    count: 3
    protocol_driver_options_name: 'common_options'
  }
  action_lists {
    name: 'clique'
    action_names: 'clique_queries'
  }
  actions {
    name: 'clique_queries'
    iterations {
      max_duration_us: 30000000
      open_loop_interval_ns: 5000000
      open_loop_interval_distribution: 'sync_burst'
      warmup_iterations: 600
    }
    rpc_name: 'clique_query'
  }
  payload_descriptions {
    name: 'request_payload'
    size: 1024
  }
  payload_descriptions {
    name: 'response_payload'
    size: 1024
  }
  rpc_descriptions {
    name: 'clique_query'
    client: 'clique'
    server: 'clique'
    fanout_filter: 'all'
    request_payload_name: 'request_payload'
    response_payload_name: 'response_payload'
  }
  action_lists {
    name: 'clique_query'
    # no actions, NOP
  }
}
tests {
  attributes: { key: 'client_type' value: 'polling' }
  attributes: { key: 'config_label' value: 'LabelFoo-node_count=4' }
  attributes: { key: 'node_count' value: '4' }
  attributes: { key: 'protocol_alias' value: 'grpc_polling_inline' }
  attributes: { key: 'protocol_driver' value: 'grpc' }
  attributes: { key: 'rpc_interval_us' value: '5000' }
  attributes: { key: 'server_type' value: 'inline' }
  attributes: { key: 'swept_parameter' value: 'rpc_interval_us' }
  attributes: { key: 'synchronization_mode' value: 'sync_burst' }
  attributes: { key: 'test_duration' value: '30' }
  attributes: { key: 'test_name' value: 'clique_sync_burst_4x5000-grpc_polling_inline' }
  attributes: { key: 'test_timeout' value: '90' }
  attributes: { key: 'traffic_alias' value: 'clique_sync_burst_4x5000' }
  attributes: { key: 'traffic_pattern' value: 'clique' }
  default_protocol: 'grpc'
  protocol_driver_options {
    name: 'common_options'
    server_settings {
      name: 'server_type'
      string_value: 'inline'
    }
    client_settings {
      name: 'client_type'
      string_value: 'polling'
    }
  }
  name: 'clique_sync_burst_4x5000-grpc_polling_inline'
  services {
    name: 'clique'
    count: 4
    protocol_driver_options_name: 'common_options'
  }
  action_lists {
    name: 'clique'
    action_names: 'clique_queries'
  }
  actions {
    name: 'clique_queries'
    iterations {
      max_duration_us: 30000000
      open_loop_interval_ns: 5000000
      open_loop_interval_distribution: 'sync_burst'
      warmup_iterations: 600
    }
    rpc_name: 'clique_query'
  }
  payload_descriptions {
    name: 'request_payload'
    size: 1024
  }
  payload_descriptions {
    name: 'response_payload'
    size: 1024
  }
  rpc_descriptions {
    name: 'clique_query'
    client: 'clique'
    server: 'clique'
    fanout_filter: 'all'
    request_payload_name: 'request_payload'
    response_payload_name: 'response_payload'
  }
  action_lists {
    name: 'clique_query'
    # no actions, NOP
  }
}
tests {
  attributes: { key: 'client_type' value: 'polling' }
  attributes: { key: 'config_label' value: 'LabelFoo-node_count=2' }
  attributes: { key: 'node_count' value: '2' }
  attributes: { key: 'protocol_alias' value: 'grpc_polling_inline' }
  attributes: { key: 'protocol_driver' value: 'grpc' }
  attributes: { key: 'rpc_interval_us' value: '6000' }
  attributes: { key: 'server_type' value: 'inline' }
  attributes: { key: 'swept_parameter' value: 'rpc_interval_us' }
  attributes: { key: 'synchronization_mode' value: 'sync_burst' }
  attributes: { key: 'test_duration' value: '30' }
  attributes: { key: 'test_name' value: 'clique_sync_burst_2x6000-grpc_polling_inline' }
  attributes: { key: 'test_timeout' value: '90' }
  attributes: { key: 'traffic_alias' value: 'clique_sync_burst_2x6000' }
  attributes: { key: 'traffic_pattern' value: 'clique' }
  default_protocol: 'grpc'
  protocol_driver_options {
    name: 'common_options'
    server_settings {
      name: 'server_type'
      string_value: 'inline'
    }
    client_settings {
      name: 'client_type'
      string_value: 'polling'
    }
  }
  name: 'clique_sync_burst_2x6000-grpc_polling_inline'
  services {
    name: 'clique'
    count: 2
    protocol_driver_options_name: 'common_options'
  }
  action_lists {
    name: 'clique'
    action_names: 'clique_queries'
  }
  actions {
    name: 'clique_queries'
    iterations {
      max_duration_us: 30000000
      open_loop_interval_ns: 6000000
      open_loop_interval_distribution: 'sync_burst'
      warmup_iterations: 500
    }
    rpc_name: 'clique_query'
  }
  payload_descriptions {
    name: 'request_payload'
    size: 1024
  }
  payload_descriptions {
    name: 'response_payload'
    size: 1024
  }
  rpc_descriptions {
    name: 'clique_query'
    client: 'clique'
    server: 'clique'
    fanout_filter: 'all'
    request_payload_name: 'request_payload'
    response_payload_name: 'response_payload'
  }
  action_lists {
    name: 'clique_query'
    # no actions, NOP
  }
}
tests {
  attributes: { key: 'client_type' value: 'polling' }
  attributes: { key: 'config_label' value: 'LabelFoo-node_count=3' }
  attributes: { key: 'node_count' value: '3' }
  attributes: { key: 'protocol_alias' value: 'grpc_polling_inline' }
  attributes: { key: 'protocol_driver' value: 'grpc' }
  attributes: { key: 'rpc_interval_us' value: '6000' }
  attributes: { key: 'server_type' value: 'inline' }
  attributes: { key: 'swept_parameter' value: 'rpc_interval_us' }
  attributes: { key: 'synchronization_mode' value: 'sync_burst' }
  attributes: { key: 'test_duration' value: '30' }
  attributes: { key: 'test_name' value: 'clique_sync_burst_3x6000-grpc_polling_inline' }
  attributes: { key: 'test_timeout' value: '90' }
  attributes: { key: 'traffic_alias' value: 'clique_sync_burst_3x6000' }
  attributes: { key: 'traffic_pattern' value: 'clique' }
  default_protocol: 'grpc'
  protocol_driver_options {
    name: 'common_options'
    server_settings {
      name: 'server_type'
      string_value: 'inline'
    }
    client_settings {
      name: 'client_type'
      string_value: 'polling'
    }
  }
  name: 'clique_sync_burst_3x6000-grpc_polling_inline'
  services {
    name: 'clique'
    count: 3
    protocol_driver_options_name: 'common_options'
  }
  action_lists {
    name: 'clique'
    action_names: 'clique_queries'
  }
  actions {
    name: 'clique_queries'
    iterations {
      max_duration_us: 30000000
      open_loop_interval_ns: 6000000
      open_loop_interval_distribution: 'sync_burst'
      warmup_iterations: 500
    }
    rpc_name: 'clique_query'
  }
  payload_descriptions {
    name: 'request_payload'
    size: 1024
  }
  payload_descriptions {
    name: 'response_payload'
    size: 1024
  }
  rpc_descriptions {
    name: 'clique_query'
    client: 'clique'
    server: 'clique'
    fanout_filter: 'all'
    request_payload_name: 'request_payload'
    response_payload_name: 'response_payload'
  }
  action_lists {
    name: 'clique_query'
    # no actions, NOP
  }
}
tests {
  attributes: { key: 'client_type' value: 'polling' }
  attributes: { key: 'config_label' value: 'LabelFoo-node_count=4' }
  attributes: { key: 'node_count' value: '4' }
  attributes: { key: 'protocol_alias' value: 'grpc_polling_inline' }
  attributes: { key: 'protocol_driver' value: 'grpc' }
  attributes: { key: 'rpc_interval_us' value: '6000' }
  attributes: { key: 'server_type' value: 'inline' }
  attributes: { key: 'swept_parameter' value: 'rpc_interval_us' }
  attributes: { key: 'synchronization_mode' value: 'sync_burst' }
  attributes: { key: 'test_duration' value: '30' }
  attributes: { key: 'test_name' value: 'clique_sync_burst_4x6000-grpc_polling_inline' }
  attributes: { key: 'test_timeout' value: '90' }
  attributes: { key: 'traffic_alias' value: 'clique_sync_burst_4x6000' }
  attributes: { key: 'traffic_pattern' value: 'clique' }
  default_protocol: 'grpc'
  protocol_driver_options {
    name: 'common_options'
    server_settings {
      name: 'server_type'
      string_value: 'inline'
    }
    client_settings {
      name: 'client_type'
      string_value: 'polling'
    }
  }
  name: 'clique_sync_burst_4x6000-grpc_polling_inline'
  services {
    name: 'clique'
    count: 4
    protocol_driver_options_name: 'common_options'
  }
  action_lists {
    name: 'clique'
    action_names: 'clique_queries'
  }
  actions {
    name: 'clique_queries'
    iterations {
      max_duration_us: 30000000
      open_loop_interval_ns: 6000000
      open_loop_interval_distribution: 'sync_burst'
      warmup_iterations: 500
    }
    rpc_name: 'clique_query'
  }
  payload_descriptions {
    name: 'request_payload'
    size: 1024
  }
  payload_descriptions {
    name: 'response_payload'
    size: 1024
  }
  rpc_descriptions {
    name: 'clique_query'
    client: 'clique'
    server: 'clique'
    fanout_filter: 'all'
    request_payload_name: 'request_payload'
    response_payload_name: 'response_payload'
  }
  action_lists {
    name: 'clique_query'
    # no actions, NOP
  }
}
tests {
  attributes: { key: 'client_type' value: 'polling' }
  attributes: { key: 'config_label' value: 'LabelFoo-node_count=2' }
  attributes: { key: 'node_count' value: '2' }
  attributes: { key: 'protocol_alias' value: 'grpc_polling_inline' }
  attributes: { key: 'protocol_driver' value: 'grpc' }
  attributes: { key: 'rpc_interval_us' value: '7000' }
  attributes: { key: 'server_type' value: 'inline' }
  attributes: { key: 'swept_parameter' value: 'rpc_interval_us' }
  attributes: { key: 'synchronization_mode' value: 'sync_burst' }
  attributes: { key: 'test_duration' value: '30' }
  attributes: { key: 'test_name' value: 'clique_sync_burst_2x7000-grpc_polling_inline' }
  attributes: { key: 'test_timeout' value: '90' }
  attributes: { key: 'traffic_alias' value: 'clique_sync_burst_2x7000' }
  attributes: { key: 'traffic_pattern' value: 'clique' }
  default_protocol: 'grpc'
  protocol_driver_options {
    name: 'common_options'
    server_settings {
      name: 'server_type'
      string_value: 'inline'
    }
    client_settings {
      name: 'client_type'
      string_value: 'polling'
    }
  }
  name: 'clique_sync_burst_2x7000-grpc_polling_inline'
  services {
    name: 'clique'
    count: 2
    protocol_driver_options_name: 'common_options'
  }
  action_lists {
    name: 'clique'
    action_names: 'clique_queries'
  }
  actions {
    name: 'clique_queries'
    iterations {
      max_duration_us: 30000000
      open_loop_interval_ns: 7000000
      open_loop_interval_distribution: 'sync_burst'
      warmup_iterations: 428
    }
    rpc_name: 'clique_query'
  }
  payload_descriptions {
    name: 'request_payload'
    size: 1024
  }
  payload_descriptions {
    name: 'response_payload'
    size: 1024
  }
  rpc_descriptions {
    name: 'clique_query'
    client: 'clique'
    server: 'clique'
    fanout_filter: 'all'
    request_payload_name: 'request_payload'
    response_payload_name: 'response_payload'
  }
  action_lists {
    name: 'clique_query'
    # no actions, NOP
  }
}
tests {
  attributes: { key: 'client_type' value: 'polling' }
  attributes: { key: 'config_label' value: 'LabelFoo-node_count=3' }
  attributes: { key: 'node_count' value: '3' }
  attributes: { key: 'protocol_alias' value: 'grpc_polling_inline' }
  attributes: { key: 'protocol_driver' value: 'grpc' }
  attributes: { key: 'rpc_interval_us' value: '7000' }
  attributes: { key: 'server_type' value: 'inline' }
  attributes: { key: 'swept_parameter' value: 'rpc_interval_us' }
  attributes: { key: 'synchronization_mode' value: 'sync_burst' }
  attributes: { key: 'test_duration' value: '30' }
  attributes: { key: 'test_name' value: 'clique_sync_burst_3x7000-grpc_polling_inline' }
  attributes: { key: 'test_timeout' value: '90' }
  attributes: { key: 'traffic_alias' value: 'clique_sync_burst_3x7000' }
  attributes: { key: 'traffic_pattern' value: 'clique' }
  default_protocol: 'grpc'
  protocol_driver_options {
    name: 'common_options'
    server_settings {
      name: 'server_type'
      string_value: 'inline'
    }
    client_settings {
      name: 'client_type'
      string_value: 'polling'
    }
  }
  name: 'clique_sync_burst_3x7000-grpc_polling_inline'
  services {
    name: 'clique'
    count: 3
    protocol_driver_options_name: 'common_options'
  }
  action_lists {
    name: 'clique'
    action_names: 'clique_queries'
  }
  actions {
    name: 'clique_queries'
    iterations {
      max_duration_us: 30000000
      open_loop_interval_ns: 7000000
      open_loop_interval_distribution: 'sync_burst'
      warmup_iterations: 428
    }
    rpc_name: 'clique_query'
  }
  payload_descriptions {
    name: 'request_payload'
    size: 1024
  }
  payload_descriptions {
    name: 'response_payload'
    size: 1024
  }
  rpc_descriptions {
    name: 'clique_query'
    client: 'clique'
    server: 'clique'
    fanout_filter: 'all'
    request_payload_name: 'request_payload'
    response_payload_name: 'response_payload'
  }
  action_lists {
    name: 'clique_query'
    # no actions, NOP
  }
}
tests {
  attributes: { key: 'client_type' value: 'polling' }
  attributes: { key: 'config_label' value: 'LabelFoo-node_count=4' }
  attributes: { key: 'node_count' value: '4' }
  attributes: { key: 'protocol_alias' value: 'grpc_polling_inline' }
  attributes: { key: 'protocol_driver' value: 'grpc' }
  attributes: { key: 'rpc_interval_us' value: '7000' }
  attributes: { key: 'server_type' value: 'inline' }
  attributes: { key: 'swept_parameter' value: 'rpc_interval_us' }
  attributes: { key: 'synchronization_mode' value: 'sync_burst' }
  attributes: { key: 'test_duration' value: '30' }
  attributes: { key: 'test_name' value: 'clique_sync_burst_4x7000-grpc_polling_inline' }
  attributes: { key: 'test_timeout' value: '90' }
  attributes: { key: 'traffic_alias' value: 'clique_sync_burst_4x7000' }
  attributes: { key: 'traffic_pattern' value: 'clique' }
  default_protocol: 'grpc'
  protocol_driver_options {
    name: 'common_options'
    server_settings {
      name: 'server_type'
      string_value: 'inline'
    }
    client_settings {
      name: 'client_type'
      string_value: 'polling'
    }
  }
  name: 'clique_sync_burst_4x7000-grpc_polling_inline'
  services {
    name: 'clique'
    count: 4
    protocol_driver_options_name: 'common_options'
  }
  action_lists {
    name: 'clique'
    action_names: 'clique_queries'
  }
  actions {
    name: 'clique_queries'
    iterations {
      max_duration_us: 30000000
      open_loop_interval_ns: 7000000
      open_loop_interval_distribution: 'sync_burst'
      warmup_iterations: 428
    }
    rpc_name: 'clique_query'
  }
  payload_descriptions {
    name: 'request_payload'
    size: 1024
  }
  payload_descriptions {
    name: 'response_payload'
    size: 1024
  }
  rpc_descriptions {
    name: 'clique_query'
    client: 'clique'
    server: 'clique'
    fanout_filter: 'all'
    request_payload_name: 'request_payload'
    response_payload_name: 'response_payload'
  }
  action_lists {
    name: 'clique_query'
    # no actions, NOP
  }
}
tests {
  attributes: { key: 'client_type' value: 'polling' }
  attributes: { key: 'config_label' value: 'LabelFoo-node_count=2' }
  attributes: { key: 'node_count' value: '2' }
  attributes: { key: 'protocol_alias' value: 'grpc_polling_inline' }
  attributes: { key: 'protocol_driver' value: 'grpc' }
  attributes: { key: 'rpc_interval_us' value: '8000' }
  attributes: { key: 'server_type' value: 'inline' }
  attributes: { key: 'swept_parameter' value: 'rpc_interval_us' }
  attributes: { key: 'synchronization_mode' value: 'sync_burst' }
  attributes: { key: 'test_duration' value: '30' }
  attributes: { key: 'test_name' value: 'clique_sync_burst_2x8000-grpc_polling_inline' }
  attributes: { key: 'test_timeout' value: '90' }
  attributes: { key: 'traffic_alias' value: 'clique_sync_burst_2x8000' }
  attributes: { key: 'traffic_pattern' value: 'clique' }
  default_protocol: 'grpc'
  protocol_driver_options {
    name: 'common_options'
    server_settings {
      name: 'server_type'
      string_value: 'inline'
    }
    client_settings {
      name: 'client_type'
      string_value: 'polling'
    }
  }
  name: 'clique_sync_burst_2x8000-grpc_polling_inline'
  services {
    name: 'clique'
    count: 2
    protocol_driver_options_name: 'common_options'
  }
  action_lists {
    name: 'clique'
    action_names: 'clique_queries'
  }
  actions {
    name: 'clique_queries'
    iterations {
      max_duration_us: 30000000
      open_loop_interval_ns: 8000000
      open_loop_interval_distribution: 'sync_burst'
      warmup_iterations: 375
    }
    rpc_name: 'clique_query'
  }
  payload_descriptions {
    name: 'request_payload'
    size: 1024
  }
  payload_descriptions {
    name: 'response_payload'
    size: 1024
  }
  rpc_descriptions {
    name: 'clique_query'
    client: 'clique'
    server: 'clique'
    fanout_filter: 'all'
    request_payload_name: 'request_payload'
    response_payload_name: 'response_payload'
  }
  action_lists {
    name: 'clique_query'
    # no actions, NOP
  }
}
tests {
  attributes: { key: 'client_type' value: 'polling' }
  attributes: { key: 'config_label' value: 'LabelFoo-node_count=3' }
  attributes: { key: 'node_count' value: '3' }
  attributes: { key: 'protocol_alias' value: 'grpc_polling_inline' }
  attributes: { key: 'protocol_driver' value: 'grpc' }
  attributes: { key: 'rpc_interval_us' value: '8000' }
  attributes: { key: 'server_type' value: 'inline' }
  attributes: { key: 'swept_parameter' value: 'rpc_interval_us' }
  attributes: { key: 'synchronization_mode' value: 'sync_burst' }
  attributes: { key: 'test_duration' value: '30' }
  attributes: { key: 'test_name' value: 'clique_sync_burst_3x8000-grpc_polling_inline' }
  attributes: { key: 'test_timeout' value: '90' }
  attributes: { key: 'traffic_alias' value: 'clique_sync_burst_3x8000' }
  attributes: { key: 'traffic_pattern' value: 'clique' }
  default_protocol: 'grpc'
  protocol_driver_options {
    name: 'common_options'
    server_settings {
      name: 'server_type'
      string_value: 'inline'
    }
    client_settings {
      name: 'client_type'
      string_value: 'polling'
    }
  }
  name: 'clique_sync_burst_3x8000-grpc_polling_inline'
  services {
    name: 'clique'
    count: 3
    protocol_driver_options_name: 'common_options'
  }
  action_lists {
    name: 'clique'
    action_names: 'clique_queries'
  }
  actions {
    name: 'clique_queries'
    iterations {
      max_duration_us: 30000000
      open_loop_interval_ns: 8000000
      open_loop_interval_distribution: 'sync_burst'
      warmup_iterations: 375
    }
    rpc_name: 'clique_query'
  }
  payload_descriptions {
    name: 'request_payload'
    size: 1024
  }
  payload_descriptions {
    name: 'response_payload'
    size: 1024
  }
  rpc_descriptions {
    name: 'clique_query'
    client: 'clique'
    server: 'clique'
    fanout_filter: 'all'
    request_payload_name: 'request_payload'
    response_payload_name: 'response_payload'
  }
  action_lists {
    name: 'clique_query'
    # no actions, NOP
  }
}
tests {
  attributes: { key: 'client_type' value: 'polling' }
  attributes: { key: 'config_label' value: 'LabelFoo-node_count=4' }
  attributes: { key: 'node_count' value: '4' }
  attributes: { key: 'protocol_alias' value: 'grpc_polling_inline' }
  attributes: { key: 'protocol_driver' value: 'grpc' }
  attributes: { key: 'rpc_interval_us' value: '8000' }
  attributes: { key: 'server_type' value: 'inline' }
  attributes: { key: 'swept_parameter' value: 'rpc_interval_us' }
  attributes: { key: 'synchronization_mode' value: 'sync_burst' }
  attributes: { key: 'test_duration' value: '30' }
  attributes: { key: 'test_name' value: 'clique_sync_burst_4x8000-grpc_polling_inline' }
  attributes: { key: 'test_timeout' value: '90' }
  attributes: { key: 'traffic_alias' value: 'clique_sync_burst_4x8000' }
  attributes: { key: 'traffic_pattern' value: 'clique' }
  default_protocol: 'grpc'
  protocol_driver_options {
    name: 'common_options'
    server_settings {
      name: 'server_type'
      string_value: 'inline'
    }
    client_settings {
      name: 'client_type'
      string_value: 'polling'
    }
  }
  name: 'clique_sync_burst_4x8000-grpc_polling_inline'
  services {
    name: 'clique'
    count: 4
    protocol_driver_options_name: 'common_options'
  }
  action_lists {
    name: 'clique'
    action_names: 'clique_queries'
  }
  actions {
    name: 'clique_queries'
    iterations {
      max_duration_us: 30000000
      open_loop_interval_ns: 8000000
      open_loop_interval_distribution: 'sync_burst'
      warmup_iterations: 375
    }
    rpc_name: 'clique_query'
  }
  payload_descriptions {
    name: 'request_payload'
    size: 1024
  }
  payload_descriptions {
    name: 'response_payload'
    size: 1024
  }
  rpc_descriptions {
    name: 'clique_query'
    client: 'clique'
    server: 'clique'
    fanout_filter: 'all'
    request_payload_name: 'request_payload'
    response_payload_name: 'response_payload'
  }
  action_lists {
    name: 'clique_query'
    # no actions, NOP
  }
}
