# produced by ./../test_builder -o . tripartite:ipv4
tests {
  attributes: { key: 'client_count' value: '1' }
  attributes: { key: 'client_type' value: 'polling' }
  attributes: { key: 'config_label' value: 'tripartite:ipv4' }
  attributes: { key: 'data_count' value: '10' }
  attributes: { key: 'index_count' value: '1' }
  attributes: { key: 'ip_version' value: '4' }
  attributes: { key: 'ip_version_string' value: 'ipv4' }
  attributes: { key: 'protocol_alias' value: 'grpc_polling_inline_ipv4' }
  attributes: { key: 'protocol_driver' value: 'grpc' }
  attributes: { key: 'server_type' value: 'inline' }
  attributes: { key: 'test_duration' value: '30' }
  attributes: { key: 'test_name' value: 'tripartite_1x1x10-grpc_polling_inline_ipv4' }
  attributes: { key: 'test_timeout' value: '150' }
  attributes: { key: 'threadpool_size' value: '0' }
  attributes: { key: 'traffic_alias' value: 'tripartite_1x1x10' }
  attributes: { key: 'traffic_pattern' value: 'tripartite' }
  protocol_driver_options {
    name: 'default_protocol_driver_options'
    protocol_name: 'grpc'
    server_settings {
      name: 'server_type'
      string_value: 'inline'
    }
    client_settings {
      name: 'client_type'
      string_value: 'polling'
    }
    ip_version: 4
  }
  name: 'tripartite_1x1x10-grpc_polling_inline_ipv4'
    services {
    name: 'client'
    count: 1
  }
  services {
    name: 'index'
    count: 1
  }
  services {
    name: 'data'
    count: 10
  }
  rpc_descriptions {
    name: 'client_index_rpc'
    client: 'client'
    server: 'index'
    request_payload_name: 'index_request_payload'
    response_payload_name: 'index_response_payload'
  }
  rpc_descriptions {
    name: 'client_data_rpc'
    client: 'client'
    server: 'data'
    request_payload_name: 'data_request_payload'
    response_payload_name: 'data_response_payload'
  }
  payload_descriptions {
    name: 'index_request_payload'
    size: 196
  }
  payload_descriptions {
    name: 'index_response_payload'
    size: 1024
  }
  action_lists {
    name: 'client'
    action_names: 'client_do_many_queries'
  }
  actions {
    name: 'client_do_many_queries'
    iterations {
      max_duration_us: 30000000
      warmup_iterations: 1000
    }
    action_list_name: 'client_do_one_query'
  }
  action_lists {
    name: 'client_do_one_query'
    action_names: 'client_queryindex'
    action_names: 'client_querydata'
  }
  actions {
    name: 'client_queryindex'
    rpc_name: 'client_index_rpc'
  }
  action_lists {
    name: 'client_index_rpc'
    # No action on the index server; just send the response
  }
  action_lists {
    name: 'client_data_rpc'
    # No action on the data server; just send the response
  }
  actions {
    name: 'client_querydata'
    rpc_name: 'client_data_rpc'
    dependencies: 'client_queryindex'
  }
  payload_descriptions {
    name: 'data_request_payload'
    size: 64
  }
  payload_descriptions {
    name: 'data_response_payload'
    size: 512
  }
}
